<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="Path" value="C:\Master\"/>
    <add key="ReportPath" value="C:\Master\report\"/>
    <add key="ShablonPath" value="C:\Master\Shablon\"/>
    <add key="Ftp" value="192.168.10.1"/>
    <add key="ProgramHost" value="\\192.168.10.4\Master\InData\ProgramHost\"/>

    <add key="BorderoMailTo" value="vzr@uralsibins.ru;jon@mcruises.ru"/>
    <add key="BorderoMailFrom" value="robot@mcruises.ru"/>
    <add key="BorderoMailServer" value="mail.mcruises.ru"/>
    <add key="BorderoPath" value="d:\bodero\"/>
  </appSettings>
  <connectionStrings>
    <add name="lanta" connectionString = "Data Source=192.168.10.4;Initial Catalog=lanta;User ID={0}; pwd={1}; Timeout=30;"/>
    <add name="test" connectionString = "Data Source=192.168.10.4;Initial Catalog=test;User ID={0}; pwd={1}; Timeout=30;"/>
    <add name="mk" connectionString = "Data Source=192.168.10.4;Initial Catalog=test;User ID={0}; pwd={1}; Timeout=30;"/>
 
   
  </connectionStrings>
  
</configuration>